<header>
    <div id="logo">
        Sysashi
    </div>
    <nav id="header-menu" class="code">
        <ul>
            <li> <a href="#"> Blog </a> </li>
            <li> <a href="#">Contact</a> </li>
            <li> <a href="#"> Resume </a> </li>
        </ul>
    </nav>
</header>
