<div id="about-me">
    <img id="my-photo" src="/images/me.jpeg"/>
    <p>Hi, my name is Boris Gnezdilov, I'm a web developer. I hope someday it would break</p>
</div>

<div id="projects">
    <h2> Projects </h2>
    <span> Balalala </span>
    <ul class="">
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
